@import url("https://fonts.googleapis.com/css2?family=Grenze:wght@100;400;700&display=swap");

:root {
  --accent-color: #eb9b64;
  --bg-color: #282221;
  --bg-color-transparent: rgba(0, 0, 0, 0.25);
  --text-color: #ffffff;
  --light-bg-color: #433938;
  --description-color: #c0c0c0;
  --header-fw: 700;
  --header-one-fs: 3rem;
  --header-two-fs: 2rem;
  --header-three-fs: 1.5rem;
  --paragraph-fw: 400;
  --paragraph-large-fs: 1.5rem;
  --paragraph-default-fs: 1rem;
  --thin-fw: 100;
  --default-fs: 16px;
  --small-gap: 0.5rem;
  --medium-gap: 1rem;
  --large-gap: 2rem;
  --extra-large-gap: 5rem;
  scroll-behavior: smooth;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Grenze", serif;
  line-height: 1.5;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 1rem;
}
.nav {
  z-index: 10;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
}
.nav--bg-dark {
  background-color: var(--bg-color-transparent);
}
.nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.logo--small {
  margin: 0.25rem;
  height: 4rem;
  width: 4rem;
}
.logo--medium {
  margin: 0.5rem;
  height: 5rem;
  width: 5rem;
}
.logo--large {
  margin: 0.75rem;
  height: 6rem;
  width: 6rem;
}
.logo__image {
  height: 100%;
}
.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
  margin-right: 1rem;
}
.nav__item {
  margin: 0.75rem 0;
}
.nav__link {
  color: white;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
.nav__link:hover {
  color: var(--accent-color);
}
.hero-section {
  width: 100%;
  height: 100svh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.hero-section--bg-image-color {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#282221c4),
      to(#282221c4)
    ),
    url("img/hero-bg.jpg");
  background: -o-linear-gradient(#282221c4, #282221c4), url("img/hero-bg.jpg");
  background: linear-gradient(#282221c4, #282221c4), url("img/hero-bg.jpg");
  background-size: cover;
  background-position: center;
}
.hero-section__title {
  font-size: var(--header-one-fs);
  font-weight: var(--header-fw);
  text-align: center;
  margin: 5rem 3rem 0 3rem;
}
.hero-section__description {
  max-width: 30rem;
  font-size: var(--paragraph-large-fs);
  font-weight: var(--thin-fw);
  text-align: center;
  margin: 0 2rem;
}
.button {
  display: inline-block;
}
.button--default {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  background-color: transparent;
  padding: 1rem 2rem;
  font-family: "Grenze", serif;
  font-size: var(--header-two-fs);
}
.section__title {
  color: var(--accent-color);
  font-weight: var(--header-fw);
  font-size: var(--header-one-fs);
  margin: 2rem 0;
}
.prices {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2rem 1fr 2rem 1fr 2rem 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.prices__item {
  width: 100%;
  -ms-grid-column-span: 4;
  grid-column: span 4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 0.5rem 1fr 0.5rem auto;
  grid-template-columns: auto 1fr auto;
  gap: 0.5rem;
}
.prices__title {
  color: var(--accent-color);
  -ms-grid-column-span: 1;
  grid-column: span 1;
}
.prices__divider {
  height: 1px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  background-color: var(--accent-color);
  width: auto;
}
.prices__price {
  -ms-grid-column-span: 1;
  grid-column: span 1;
}
.prices_description {
  -ms-grid-column-span: 3;
  grid-column: span 3;
  color: var(--description-color);
}
.tiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  /* max-width: 90%; */
  margin: 0 auto;
}
.tile {
  text-align: center;
  width: 100%;
  max-width: 25rem;
  min-height: 20rem;
}
.tile__header {
  font-size: var(--header-three-fs);
  background-color: rgb(70, 60, 58);
  padding: 0.5rem 0;
}
.tile__description {
  text-align: justify;
  padding: 1rem;
}
.tile--bg-image {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(40, 34, 33, 0.85)),
      to(rgba(40, 34, 33, 0.95))
    ),
    url("img/img1.jpg");
  background: -o-linear-gradient(rgba(40, 34, 33, 0.85), rgba(40, 34, 33, 0.95)),
    url("img/img1.jpg");
  background: linear-gradient(rgba(40, 34, 33, 0.85), rgba(40, 34, 33, 0.95)),
    url("img/img1.jpg");
  background-size: cover;
}
.tile--bg-image:nth-child(2) {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(40, 34, 33, 0.85)),
      to(rgba(40, 34, 33, 0.95))
    ),
    url("img/img2.jpg");
  background: -o-linear-gradient(rgba(40, 34, 33, 0.85), rgba(40, 34, 33, 0.95)),
    url("img/img2.jpg");
  background: linear-gradient(rgba(40, 34, 33, 0.85), rgba(40, 34, 33, 0.95)),
    url("img/img2.jpg");
}
.tile--bg-image:nth-child(3) {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(40, 34, 33, 0.85)),
      to(rgba(40, 34, 33, 0.95))
    ),
    url("img/img3.jpg");
  background: -o-linear-gradient(rgba(40, 34, 33, 0.85), rgba(40, 34, 33, 0.95)),
    url("img/img3.jpg");
  background: linear-gradient(rgba(40, 34, 33, 0.85), rgba(40, 34, 33, 0.95)),
    url("img/img3.jpg");
}
.tile--bg-image:nth-child(4) {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(40, 34, 33, 0.85)),
      to(rgba(40, 34, 33, 0.95))
    ),
    url("img/img4.jpg");
  background: -o-linear-gradient(rgba(40, 34, 33, 0.85), rgba(40, 34, 33, 0.95)),
    url("img/img4.jpg");
  background: linear-gradient(rgba(40, 34, 33, 0.85), rgba(40, 34, 33, 0.95)),
    url("img/img4.jpg");
}
.carousell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60vh;
  position: relative;
  overflow-x: hidden;
}
.carousell__wrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow-x: hidden;
  position: relative;
}
.carousell__image {
  border-radius: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  width: 40vw;
  aspect-ratio: 2/3;
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transform: translateX(175%) scale(0.75);
  -ms-transform: translateX(175%) scale(0.75);
  transform: translateX(175%) scale(0.75);
  opacity: 0;
}
.carousell__image:nth-child(1) {
  -webkit-filter: brightness(0.1);
  filter: brightness(0.1);
  z-index: 2;
  -webkit-transform: translateX(-100%) scale(0.75);
  -ms-transform: translateX(-100%) scale(0.75);
  transform: translateX(-100%) scale(0.75);
  opacity: 1;
}
.carousell__image:nth-child(2) {
  -webkit-transform: translateX(-50%) scale(1);
  -ms-transform: translateX(-50%) scale(1);
  transform: translateX(-50%) scale(1);
  z-index: 3;
  -webkit-filter: brightness(0.4);
  filter: brightness(0.4);
  opacity: 1;
}
.carousell__image:nth-child(3) {
  z-index: 4;
  -webkit-transform: translateX(0) scale(1.5);
  -ms-transform: translateX(0) scale(1.5);
  transform: translateX(0) scale(1.5);
  opacity: 1;
}
.carousell__image:nth-child(4) {
  z-index: 3;
  -webkit-filter: brightness(0.4);
  filter: brightness(0.4);
  -webkit-transform: translateX(50%) scale(1);
  -ms-transform: translateX(50%) scale(1);
  transform: translateX(50%) scale(1);
  opacity: 1;
}
.carousell__image:nth-child(5) {
  -webkit-filter: brightness(0.1);
  filter: brightness(0.1);
  -webkit-transform: translateX(100%) scale(0.75);
  -ms-transform: translateX(100%) scale(0.75);
  transform: translateX(100%) scale(0.75);
  z-index: 2;
  opacity: 1;
}
.carousell__left,
.carousell__right {
  user-select: none;
  position: absolute;
  font-size: 2rem;
  font-weight: 700;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 1rem;
  color: var(--accent-color);
  cursor: pointer;
  z-index: 5;
}
.carousell__right {
  right: 0;
}
.contactInfo {
  flex-direction: column;
  display: flex;
  margin: 5rem 0;
  flex-wrap: wrap;
  width: 100%;
  gap: 5rem;
  min-height: 50lvh;
}
.contactInfo__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  height: 100%;
}
.contactInfo__item {
  border-bottom: 1px solid var(--accent-color);
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 9fr 9fr;
  align-items: center;
}
.contactInfo__item * {
  padding: 0.5rem 0;
}
.contactInfo__map,
.contactInfo__map iframe {
  height: 100%;
  min-height: 30vh;
  width: 100%;
}
.footerContent {
  height: 20vh;

  background-color: var(--light-bg-color);
}
.footerContent__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  height: 100%;
}
.footerContent__list svg {
  padding: 0.5rem;
  transition: 0.2s;
}
.footerContent__facebook {
  fill: #17a9fd;
}
.footerContent__facebook:hover {
  fill: #a6deff;
}
.footerContent__instagram {
  fill: #c13584;
}
.footerContent__instagram:hover {
  fill: #ff66bd;
}
.footerContent__item--links a {
  color: white;
}
.footerContent__item--links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

@media only screen and (min-width: 768px) {
  .carousell__image {
    width: 15vw;
  }
  .nav-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .nav__menu {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    gap: 2rem;
  }
  .prices__item {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
  .contactInfo {
    flex-wrap: nowrap;
    flex-direction: row;
    height: 50lvh;
  }
}

@media only screen and (min-width: 1200px) {
  .tile {
    max-width: 23%;
  }
  .carousell {
    height: 65vh;
  }
  .carousell__image {
    width: 13vw;
  }
}
